@model IEnumerable<CRM.Models.Role>

@{
    ViewData["Title"] = "Index";
}

    <meta charset="utf-8">

<h1>Роли</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Подробности</a> 
            </td>
        </tr>
}
    </tbody>
</table>
